{%extends 'admins/adminbase.html'%}
{%load static %}

{%block contents%}
<section class="hero-banner magic-ball">
    <div class="container">

        <div class="row align-items-center text-center text-md-left">
            <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                <h1>Admin View Data</h1>
                <p>
<table class="table table-bordered bg-light text-dark" id="example" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>S.No</th>
        <th>DAY</th>
        <th>DEPARTURE_TIME</th>
        <th>FLIGHT_NUMBER</th>
        <th>DESTINATION_AIRPORT</th>
        <th>ORIGIN_AIRPORT</th>
        <th>DAY_OF_WEEK</th>
        <th>TAXI_OUT</th>


      </tr>
    </thead>
    <tbody>
    {% for i in users %}
                                            <tr style="color: Black">
                                                <td>{{i.id}}</td>
                                                <td>{{i.DAY}}</td>
                                                <td>{{i.DEPARTURE_TIME}}</td>
                                                <td>{{i.FLIGHT_NUMBER}}</td>
                                                <td>{{i.DESTINATION_AIRPORT}}</td>
                                                <td>{{i.ORIGIN_AIRPORT}}</td>
                                                <td>{{i.DAY_OF_WEEK}}</td>
                                                <td>{{i.TAXI_OUT}}</td>
                                            </tr>
                                            {% endfor %}

    </tbody>
  </table>
{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li><br/>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


                </p>
                <a class="button button-hero mt-4" href="https://ieeexplore.ieee.org/document/9071159" target="_blank">Get Started</a>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">

            </div>
        </div>
    </div>
</section>

{%endblock%}