{%extends 'base.html'%}
{%load static %}

{%block contents%}
 <section class="hero-banner magic-ball">
    <div class="container">

      <div class="row align-items-center text-center text-md-left">
        <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
          <h1>Data Pre-processing</h1>
          <p>
              Before applying algorithms to our data set, we need to perform a basic pre-processing. Data preprocessing is performed to convert data into a format suitable for our analysis and also to improve data quality since real-world data is incomplete, noisy and inconsistent. We have acquired a data set from the Bureau of Transportation for 2015. The data set consists of 25 columns and 59986 rows. There were many rows with missing and null values. The data set was cleaned up using the pandas’ dropna() function to remove rows and columns from the data set consisting of null values. After preprocessing,  the rows were reduced to 54486.
          </p>
          <a class="button button-hero mt-4" href="https://ieeexplore.ieee.org/document/9071159" target="_blank">Get Started</a>
        </div>
        <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
          <img class="img-fluid" src="{%static 'img/home/hero-img.png'%}" alt="">
        </div>
      </div>
    </div>
  </section>

{%endblock%}