{%extends 'base.html'%}
{%load static %}

{%block contents%}
 <section class="hero-banner magic-ball">
    <div class="container">

      <div class="row align-items-center text-center text-md-left">
        <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
          <h1>User Register Form</h1>
          <p>
					<form method="POST" class="search-form" action="{%url 'UserRegisterAction'%}" >
                {% csrf_token %}

                <table>
                    <tr><td>Customer Name</td><td>{{form.name}}</td></tr>
                    <tr><td>Login ID</td><td>{{form.loginid}}</td></tr>
                    <tr><td>Password</td><td>{{form.password}}</td></tr>
                    <tr><td>Mobile</td><td>{{form.mobile}}</td></tr>
                    <tr><td>email</td><td>{{form.email}}</td></tr>
                    <tr><td>Locality</td><td>{{form.locality}}</td></tr>
                    <tr><td>Address</td><td>{{form.address}}</td></tr>
                    <tr><td>City</td><td>{{form.city}}</td></tr>
                    <tr><td>State</td><td>{{form.state}}</td></tr>
                    <tr><td></td><td>{{form.status}}</td></tr>

                    <tr><td><button  class="btn btn-primary my-2 my-sm-0" type="submit" style = "margin-left:20%;">Register</button></td></tr>

                        {% if messages %}
                               {% for message in messages %}
                                  <font color='GREEN'> {{ message }}</font>
                               {% endfor %}
                           {% endif %}

                </table>

            </form>

                    </p>



        </div>
        <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
          <img class="img-fluid" src="{%static 'img/home/hero-img.png'%}" alt="">
        </div>
      </div>
    </div>
  </section>

{%endblock%}